body{
    background-image: url(../img/Dino.jpg);
    background-size:contain; 
    background-position: center;
    background-repeat: no-repeat; 
    }

nav{
    text-align: center;
}

main{
    
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}

div {
    text-align: center;
  }
.titulo{
    text-align: center;
    color: white;
}

h1,h2{
    line-height: 3%;
    text-align: center;
    color: white;
}

p{
    line-height: 1.5;
    color: white;
}

ul li{
    line-height: 1.5;
}

.logo img {
    width: 30%;
    height: auto;
}
